.player {
    clear: left;
    .name {
        font-size: 3em;
    }

    .frame {
        height: 70px;
        min-width: 70px;
        float: left;
        font-size: 1.6em;
        text-align: center;
        border: 1px solid black;

        .ball {
            width: 34px;
            height: 35px;
            float: left;

        }

        .ball.second {
            float: right;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }


        .total {
            display: block;
            width: 70px;
            clear: both;
        }
    }
}

.clear {
    clear: left;
}
