<div class="player" ng-repeat="player in bowling.players track by player.name">
    <span ng-bind="player.name" class="name"></span>
    <div>
        <div class="frame" ng-repeat="frame in player.frames track by $index">
            <span ng-bind="frame.balls[0]" class="ball"></span>
            <span ng-bind="frame.balls[1]" class="ball second"></span>
            <span ng-if="$index == 9" ng-bind="frame.balls[2]" class="ball second"></span>
            <span ng-bind="frame.total" class="total">10</span>
        </div>
    </div>
</div>

<div class="clear">
    <div ng-show="!bowling.playersEntered">
        <span>Enter a new player</span>
        <input type="text" ng-model="bowling.newPlayer"/>
        <button ng-click="bowling.addPlayer(bowling.newPlayer)" class="btn btn-info">Enter</button>
        <button ng-click="bowling.playersEntered = true" class="btn btn-primary">
            Done Entering Players, Let's Bowl!
        </button>
    </div>

    <div ng-show="bowling.playersEntered">
        <span>Enter your score</span>
        <input type="number" min="0" max="10" ng-model="bowling.currentBall"/>
        <button ng-click="bowling.addBall(bowling.currentBall)" class="btn btn-info">Enter</button>
    </div>
</div>
